
  <div>
    <a href="#" id="cc-add-user" data-type="select2" data-pk="1" data-original-title="选择用户">添加用户：</a>
    <div style="width:16em" class="tag-list" id="cc-user-tag">
      <div class="tags"></div>
    </div>
    <br>
    <a href="#" id="cc-add-role" data-type="select2" data-pk="1" data-original-title="选择角色">添加角色：</a>
    <div style="width:16em"  class="tag-list" id="cc-role-tag">
      <div class="tags"></div>
    </div>
  </div>
  <div>
    <br>
    <form class="form-inline">
      <label class="checkbox" for="cc-message">
        <input type="checkbox"  id="cc-message">消息</label>
      <label class="checkbox" for="cc-email">
        <input type="checkbox"  id="cc-email">邮件</label>
    </form>
  </div>
