<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered bootstrap-datatable" id="datatable">
	<thead>
		<tr>
			<th>处理</th>
			<th>活动名称</th>
			<th>流程名称</th>
			<th>单据号</th>
			<th>申请人</th>
			<th>申请时间</th>
			<th>组织</th>
			<th>审批历史</th>
		</tr>
	</thead>
	<tbody>
		<% _.each(tasklist, function(task){ %>
		<tr>
			<td class="center">
				<div  class="btn-group dropdown">
					<button class='btn' task-id='<%= task.get("pk_task") %>' id='handle-click-btn'>处理</button>
					<button class="btn dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<% _.each(task.get("operations"),function(operation){
							switch(operation){
							case _Common.WF.OPERATION.APPROVE: %>
						<li>
							<a  href="#" task-id='<%= task.get("pk_task") %>' id="approveclick-btn">审批</a>
						</li>
						<% break;%>

						<% case _Common.WF.OPERATION.REJECT: %>
						<li>
							<a href="#" task-id='<%= task.get("pk_task") %>' id="rejectclick-btn">驳回</a>
						</li>
						<% break;%>

						<% case _Common.WF.OPERATION.REASSIGN: %>
						<li>
							<a  href="#" task-id='<%= task.get("pk_task") %>'  id="reassignmentclick-btn">改派</a>
						</li>
						<% break;%>

						<%case _Common.WF.OPERATION.ADDSIGN: %>
						<li>
							<a  href="#" task-id='<%= task.get("pk_task") %>' id="addsignclick-btn">加签</a>
						</li>
						<% break;
							}
						})%></ul>
				</div>
			</td>
			<td>
				<%= task.get("activity_name") %></td>
			<td>
				<%= task.get("process_def_name") %></td>
			<td class="center">
				<a href= <%='#login?'+task.get("form_no")%> > <%=task.get("form_no")%> </a> </td>
			<td class="center">
				<%= task.get("pk_owner") %></td>
			<td class="center">
				<%= task.get("begindate") %></td>
			<td class="center">
				<%= task.get("pk_group") %></td>
			<td class="center" >
				<a  href="#" data-toggle="modal" 
				<%= _Common.WF.HISTORY_KEY.Activity_INS %>="<%= task.get("pk_activity_instance") %>" id="wf-history">审批历史
				</a>
			</td>
		</tr>

		<a href='<%= task.get("url") %>
			'>
			<%= task.get("title") %></a>
		<% }); %></tbody>
</table>
<div  class="pagination pagination-centered">
	<ul>
		<li  id="todo-first">
			<a href="#">&laquo</a>
		</li>
		<% var pages=Math.ceil(_Common.WF.Pagination.TotalRecords/_Common.WF.Pagination.PageSize);for(var i=1;i<=pages;i++) {%>
		<li >
			<a href="#" class="page" <%= "id="+i %>><%= i %></a>
		</li>
		<% };%>
		<li   id="todo-end">
			<a href="#">&raquo</a>
		</li>
	</ul>
</div>